<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIK THE DAY</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Favorites</h1>
    <ul>
    <% places.forEach( el => { %>
        <% if(favorite){
            <li class='placeItem' data-id='<%=el._id%>'>
                <span class='<%= el.visited === true ? 'visited' : 'not'%>'><%= el.place %></span>
                <span class='del'> Delete </span>
            </li>
    <%} }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> favorite places.</h2>

    <form action="/places/createPlace" method='POST'>
        <input type="date" name='placeDate' id=""dateEntryField>
        <input type="text" placeholder="Enter Place" name='placeItem'>
        <input type="text" placeholder="Enter Location" name='placeLocation'>
        <input type="range" min="0" max="5" name='placeAuthenticRating'>
        <input type="range" min="0" max="5" name='placeAtmosphereRating'>
        <input type="range" min="0" max="5" name='placeTasteRating'>
        <input type="checkbox" id="favoritePlace" name="favoritePlace" value="Favorite">
        <input type="text" placeholder="Notes" name="placeNotes"> 
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>