<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIK THE DAY</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Places</h1>


    <form action="/places/createPlace" method='POST'>
        <label  for="placeDate">Date</label>
        <input type="date" name='placeDate' id="dateEntryField">
        <input type="text" placeholder="Enter Place" name='placeName'>
        <input type="text" placeholder="Enter Location" name='placeLocation'>
        <label for="placeAuthenticRating">Authenticity</label>
        <input type="range" min="0" max="5" step="0.1" name='placeAuthenticRating'>
        <label for="placeAtmosphereRating">Atmosphere</label>
        <input type="range" min="0" max="5" step="0.1" name='placeAtmosphereRating'>
        <label for="placeTasteRating">Taste</label>
        <input type="range" min="0" max="5" step="0.1" name='placeTasteRating'>
        <label for="favoritePlace">Favorite?</label>
        <input type="checkbox" id="favoritePlace" name="favoritePlace" checked="true" value="true">
        <input type="text" placeholder="Add Notes" name="placeNotes"> 
        <input type="submit">
    </form>

    <table class="entry-table">
        <thead>
            <th>Date</th>
            <th>Name</th>
            <th>Location</th>
            <th>Authenticity</th>
            <th>Atmosphere</th>
            <th>Taste</th>
            <th>Favorite?</th>
            <th>Notes</th>
            <th></th>
        </thead>

        <tbody>

            <!-- table -->
            <% places.forEach( el => { %>
                <tr class="placeItem" data-id='<%=el._id%>'>
                    <td><%= el.placeDate.toLocaleDateString() %></td>
                    <td><%= el.placeName %></td>
                    <td><%= el.placeLocation %></td>
                    <td><%= el.placeAuthenticRating %></td>
                    <td><%= el.placeAtmosphereRating %></td>
                    <td><%= el.placeTasteRating %></td>
                    <td><%= el.favoritePlace ? "yes" :"" %></td>
                    <td><%= el.placeNotes %></td>
                    <td ><span class="del">delete</span></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <a href="/logout">Logout</a>

<!--     <h2><%= user.userName %> has <%= left %> places left to visit.</h2> -->

    <script src="js/main.js"></script>
</body>
</html>