<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIK THE DAY</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Places</h1>
    <ul>
    <% places.forEach( el => { %>
            <li class='placeItem' data-id='<%=el._id%>'>
                <span class='<%= el.visited === true ? 'visited' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> places left to visit.</h2>

    <form action="/todos/createPlace" method='POST'>
        <input type="text" placeholder="Enter Place" name='placeItem'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>