<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIK THE DAY</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Places</h1>


    <form action="/places/createPlace" method='POST'>
        <input type="date" name='placeDate' id=""dateEntryField>
        <input type="text" placeholder="Enter Place" name='placeItem'>
        <input type="text" placeholder="Enter Location" name='placeLocation'>
        <input type="range" min="0" max="5" name='placeAuthenticRating'>
        <input type="range" min="0" max="5" name='placeAtmosphereRating'>
        <input type="range" min="0" max="5" name='placeTasteRating'>
        <input type="checkbox" id="favoritePlace" name="favoritePlace" value="Favorite">
        <input type="text" placeholder="Notes" name="placeNotes"> 
        <input type="submit">
    </form>

    <table class="entry-table">
        <thead>
            <th>Date</th>
            <th>Item</th>
            <th>Company</th>
            <th>Category</th>
            <th>Amount</th>
            <th></th>
        </thead>

        <tbody>
            <% places.forEach( el => { %>
                <tr class="placeItem" data-id='<%=el._id%>'>
                    <td><%= el.placeDate.toLocaleDateString() %></td>
                    <td><%= el.placeItem %></td>
                    <td><%= el.placeLocation %></td>
                    <td><%= el.placeAuthenticRating %></td>
                    <td><%= el.placeAtmosphereRating %></td>
                    <td><%= el.favoritePlace %></td>
                    <td><%= el.placeNotes %></td>
                    <td ><span class="del">delete</span></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <a href="/logout">Logout</a>

<!--     <h2><%= user.userName %> has <%= left %> places left to visit.</h2> -->

    <script src="js/main.js"></script>
</body>
</html>