<%- include('partials/header') -%>
<body>
    <!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Selector</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <% let randomNumber = Math.floor((Math.random() * faveNum) )%>
         <%if (faveNum>0){%>
          You should go to <%= faves[randomNumber].placeName %>!!
          <%} else { %>
         You need to add favorites to use the Selector!
         <% } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <section class="bg-dark text-light p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
              <img src="/images/undraw_my_answer_re_k4dv.svg" class="img-fluid" alt="Person making a choice">
            </div>
            <div class="col-md p-5">
              <h1>Make choosing easy!</h1>
              <p class="lead">
                The Selector helps you choose where to eat next from your favorite places. If you don't have any favorites yet, come back when you've added a few.</p>
            <span>Current Number of <%=user.userName%>'s Favorites: <%= faveNum %></span>
            </div>
          </div>
    </div>
</section>
    
   
</section>
    <section class="bg-light text-dark p-4">
    <div class="container p-3">

    <h2> Selector</h2>
   <p class="lead"> Press the button below to have the selector give you a suggestion.</p>
   <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal">
    Launch Selector
  </button>

    </section>
   
    <script src="js/main.js"></script>
</body>
</html>
<%- include('partials/footer') -%>